
.app{
  background-color: black;
  /* background: radial-gradient(circle at 50% 50%, #1a0a2e 0%, #0a0612 50%, #000000 100%); */
}

@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Giflika-Regular.otf') ;
}
@font-face {
  font-family: 'CustomFont2';
  src: url('./fonts/Quicksand_Book_Oblique.otf') ;
}
blockquote{
  font-family: 'CustomFont2', sans-serif;
}
.designer{
  font-family: 'CustomFont', sans-serif;

}
